*.txt

# Linux project files
*.pri
*.kdev4
*.pro
*.workspace
.kdev4/
Makefile

# Visual studio files
*.sln
*.sdf
.vs/
*.opendb
*.db

# Unreal Engine cache
DerivedDataCache/
Intermediate/
Binaries/
Build/
Saved/

# Compiled binary
built/
